.app-tweet-content {

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -25px;

    .mat-card {
      .mat-tab-label {
        font-size: 10px;
      }
    }
  }

  .mat-button {
    color: #d3d3d3;
  }

  .mat-tab-body .mat-tab-body-active {
    margin-left: -2rem;
  }

  .mat-card-header{
    margin-top: 7px;
    margin-left: -30px;
  }

}

