<mat-toolbar>
  <div>
    <button mat-button color="primary">About</button>
    <button mat-button color="primary">Help</button>
  </div>
    <div class="items-header-search">
      <div class="form-field">
        <mat-icon class="input-prefix">search</mat-icon>
        <input class="input-search" placeholder="Search on Twitter">
      </div>
  </div>
  <div class="user">
    <span class="info">Hey, {{ user.name }}</span>
    <mat-icon class="svg" svgIcon="profile"></mat-icon>
  </div>
</mat-toolbar>
